Repository peymanshahmarimikaeeldarehsi/favorite-word, pull requests merged in 2020-12, with the labels that each got.

#12 Update style.css
  style.css
Labels: enhancement

#17 changed clear-word.js in iteractions folder
  src/interactions/clear-word.js
Labels: INTERACTION

#16 changed set-word.js in interactions folder
  src/interactions/set-word.js
Labels: INTERACTION

#15 changed enter-word.js in prompts folder
  src/prompts/enter-word.js
Labels: PROMPT

#21 change choosefrom-options.js line 30 to use repeat word or characters
  src/prompts/choose-from-options.js
Labels: PROMPT

#22 added enter-number.js in prompts folder and to check write repeatWord…
  src/interactions/repeat-word-or-characters.js
  src/prompts/enter-number.js
Labels: INTERACTION, PROMPT
